apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: polaris-dev
spec:
  replicas: 1

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: polaris-dev
spec:
  replicas: 1

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: neo4j
  namespace: polaris-dev
spec:
  replicas: 1

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: polaris-dev
spec:
  replicas: 1
