apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: polaris
spec:
  template:
    spec:
      containers:
      - name: api
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1000m"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: processor
  namespace: polaris
spec:
  template:
    spec:
      containers:
      - name: processor
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1000m"
